@font-face {
  font-family: helvetica;
  src: url('https://lgm.averydennison.com/acton/attachment/5313/f-89316136-4abd-4132-be09-6001bdf0ea97/1/-/-/-/-/HelveticaNeueMedium.woff2');
}

@font-face {
  font-family: helvetica light;
  src: url('https://lgm.averydennison.com/acton/attachment/5313/f-e3abec5a-6e35-4545-aba2-4b79c4b3b702/1/-/-/-/-/HelveticaNeueLight.woff2');
}

:root {
  --headingFont: clamp(2.5625rem, 0.1339rem + 3.7946vw, 4.6875rem);
  --bodyFont: clamp(1.125rem, -0.1079rem + 1.444vw, 1.625rem);
  --bodyFontSmall: clamp(0.9375rem, 0.0129rem + 1.083vw, 1.3125rem);
}

@media (max-width: 1024px) {
  :root {
    --headingFont: clamp(1.875rem, -0.1079rem + 1.444vw, 2.5rem);
    --bodyFont: 16px;
    --bodyFontSmall: 14px;
  }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0a0b10;
  max-width: 1920px;
  font-family: sans-serif;
  margin: 0 auto;
  color: white;
  font-family: helvetica light;
}


.ctaa {
  font-family: helvetica light;
  border: 1px solid red;
  color: white;
  width: fit-content;
  font-size: clamp(1.0625rem,
      0.4196rem + 1.0045vw,
      1.625rem);
  border-radius: 100vw;
  gap: 1.2rem;
  line-height: 1;
  padding: 0.8rem 0.9rem 0.8rem 1.8rem;
  background-color: #00000066;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.hero {
  position: relative;
  /* padding: 5%; */
  /* border: 1px solid red; */
  min-height: 100dvh;
}

@media (max-width: 1024px) {
  .hero {
    min-height: unset;
    max-height: 80dvh;
  }

  .ctaa {
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  }
}

.hero__layer-one-image-wrapper {
  /* border: 1px solid red; */
  /* min-height: 100dvh; */
}

.hero__layer-one-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
  pointer-events: none;
}

.hero__bgtext-wrapper {
  position: absolute;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 31%;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero__heading {
  background: linear-gradient(to bottom,
      rgba(255, 255, 255, 0.21) 30%,
      rgba(255, 255, 255, 0.712) 80%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.hero__sub-heading {
  font-family: helvetica;

  color: rgba(255, 255, 255, 0.407);
  font-size: 4rem;
}

.hero__heading {
  font-size: 12.93rem;
  font-weight: unset;
  font-family: helvetica;

  line-height: 189px;
}

.hero__layer-two-image-wrapper {
  position: absolute;
  top: 0;
  /* left: 0; */
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.hero__layer-two-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* object-position: top center; */
  pointer-events: none;
}

.hero__logo-wrapper {
  position: absolute;
  top: 5%;
  left: 5vw;
  width: 10%;
  /* height: 100%; */
  /* border: 1px solid red; */
  /* transform: translate(20%, -50%); */
}

.hero__logo-img {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
}

.hero__footer-wrapper {
  position: absolute;
  bottom: 5vw;
  left: 5vw;
  width: 90vw;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 630px) {
  .hero__footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
  }

  .hero {
    max-height: 750px;
    height: 100vh;
    background: rgb(46 83 124);
  }

  .hero__layer-one-image-wrapper,
  .hero__layer-two-image-wrapper {
    height: 100%;
    display: flex;
    align-items: flex-end;
  }

  .hero__layer-one-image-wrapper picture,
  .hero__layer-two-image-wrapper picture {
    width: 100%;
  }

  .hero__layer-one-image {
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: top center;
    pointer-events: none;
    object-position: bottom;
  }

  .hero__layer-two-image {
    width: 100%;
    height: auto;
    object-fit: contain;
    /* object-position: top center; */
    pointer-events: none;
    object-position: bottom;
  }
}

@media (max-width: 500px) {
  .hero__footer-content.mob {
    display: block !important;
    width: 90vw !important;
    text-align: center !important;
    margin-top: 1rem !important;
  }

  .hero__footer-content.desk {
    display: none !important;
  }
}

.hero__footer-content.mob {
  display: none;
}

.hero__footer-content.desk {
  display: block;
}

.hero__footer-content {
  font-size: var(--bodyFont);
  /* border: 1px solid red; */
  font-weight: unset;
  max-width: 58%;
  color: #bcbcbc;
}




.cta-arrow {
  /* border: 1px solid red; */
  /* background-color: red;
  border-radius: 50%; */
  width: 25px;
  /* margin-right: 1px; */
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-img {
  width: auto;
  height: 100%;
  /* filter: invert(); */
  /* margin: 333px; */
}

@media (max-width: 1600px) {
  .hero__bgtext-wrapper {
    top: 29%;
  }

  .hero__sub-heading {
    font-size: clamp(3rem, -2.8376rem + 6.8376vw, 4rem);
  }

  .hero__heading {
    line-height: 150px;
    font-size: clamp(8.5625rem, 2.3333rem + 7.6667vw, 10rem);
  }
}

@media (max-width: 1366px) {
  .hero__sub-heading {
    font-size: clamp(1.8rem, -0.1953rem + 3.7427vw, 3rem);
  }

  .cta-arrow {
    margin-right: 2px;
  }

  .hero__heading {
    line-height: 150px;
    line-height: 6.5rem;
    font-size: clamp(4.56rem, 0.5642rem + 9.3684vw, 8.5625rem);
  }

  .hero__logo-wrapper {
    width: 12%;
  }
}

@media (max-width: 1024px) {



  .cta-img {
    width: auto;
    height: 90%;
  }

  .hero__logo-wrapper {
    width: 15%;
  }
}

@media (max-width: 630px) {
  .hero__sub-heading {
    font-size: clamp(1.0625rem, 0.4118rem + 2.8922vw, 1.8rem);
  }

  .hero__heading {
    font-size: clamp(2.56rem, 0.7953rem + 7.8431vw, 4.56rem);
    line-height: 104%;
  }

  .hero__footer-content {
    max-width: 100%;
    line-height: 1.3;
  }

  @media (max-width: 630px) {
    .hero__logo-wrapper {
      width: 25%;
    }
  }
}

@media (max-width: 630px) {
  .hero__sub-heading {
    font-size: 1rem;
  }

  .hero__heading {
    font-size: 13.6vw;
    text-align: center;
  }
}

.layer{
  display: none;
}
.section__second__banner-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: clamp(3.75rem, -2.6786rem + 10.0446vw, 9.375rem) 5vw;
  /* min-height: 100dvh; */
}

.section__second__banner-wrapper picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  /* Keeps it behind the text */
}

@media (max-width: 1024px) {
  .section__second__banner-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    min-height: 35rem;
  }
}

@media (max-width: 630px) {
  .section__second__banner-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  .layer {
    display: block;
    position: absolute;
    height: 50%;
    background: linear-gradient(176deg, #000000eb 80%, transparent);
    width: 100%;
    top: 0;
    z-index: 2;
  }
}

.section__second__banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top right;
  z-index: 1;
}

.second__section {
  /* display: flex; */
}

.section__second__heading {
  font-weight: unset;
}

.section__second__content-wrapper {
  position: relative;
  z-index: 2;
  top: 0%;
  width: 45%;
  max-width: 35rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 1440px) {
  .section__second__content-wrapper {
    gap: 0.5rem;
  }
}

@media (max-width: 768px) {
  .second__section {
    overflow: hidden;
  }

  .section__second__content-wrapper {
    width: 100%;
    align-items: center;
    text-align: center;
    padding-bottom: clamp(18rem, 2.7826rem + 60.8696vw, 32rem);
    max-width: 100%;
    overflow: hidden;
  }

  .section__second__banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    z-index: 1;
  }

  .hero__footer-wrapper {
    bottom: clamp(3.75rem, -2.6786rem + 10.0446vw, 9.375rem);
  }

  .fourth__section__content {
    max-width: 80% !important;
  }

  .fifth__section__description {
    max-width: 100% !important;
  }
}


.second__section__cta {
  margin-top: 3rem;
}

.section__second__heading {
  font-size: var(--headingFont);
}

@media (max-width: 1024px) {
  .second__section__cta {
    margin-top: 1.5rem;
  }
}

.section__second__content {
  font-size: var(--bodyFont);
}

.section__second__content-wrapper-inner {
  color: #9b9b9b;
  font-weight: unset;
  margin-top: 3rem;

}

@media (max-width: 1024px) {
  .section__second__content-wrapper-inner {
    color: #9b9b9b;
    font-weight: unset;
    margin-top: 1.5rem;

  }
}

@media (max-width: 1440px) {
  .section__second__content {
    /* margin-top: 1rem; */
  }
}

@media (max-width: 630px) {
  .section__second__content {
    line-height: 1.3;
  }
}

.third__section {
  background-color: white;
  padding: clamp(3.75rem, -2.6786rem + 10.0446vw, 9.375rem) 5vw !important;
  color: #333;
}

.third__section__container {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.third__section__header-wrapper {
  text-align: center;
  width: 100%;
}

.third__section__header-content-one {
  font-size: clamp(1.375rem, 0.5693rem + 1.7755vw, 2.7rem);
  color: #7c7c7c;
  margin-bottom: 0.5rem;
}

.third__section__header-content-two {
  font-size: var(--headingFont);
  font-weight: 400;
  color: black;
}


.third__section_middle_main-wrapper {
  display: flex;
  align-items: center;
  gap: 5rem;
  justify-content: center;
}

@media (max-width: 1024px) {
  .third__section_middle_main-wrapper {
    gap: 2rem;
  }
}

.third__section__image-wrapper {
  position: relative;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}

.third__section__image {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  max-width: clamp(37.5rem, -24.1426rem + 72.2022vw, 62.5rem);
}

@media (max-width: 1024px) {
  .third__section__image {
    width: 70%;
  }
}

@media (max-width: 1366px) {
  .third__section__image-wrapper {
    position: relative;
    max-width: 1000px;
    display: flex;
    justify-content: center;
  }

  .third__section__image {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
  }
}

@media (max-width: 1024px) {
  .third__section__image {
    width: 70%;
  }
}

@media (max-width: 900px) {
  .third__section__image {
    width: 60%;
  }
}

@media (max-width: 750px) {
  .third__section__image {
    width: 90%;
  }
}

@media (max-width: 630px) {
  .third__section__image {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .third__section__container {
    gap: 2rem;
  }

  .third__section__card {
    padding: 1rem 0 !important;
  }
}

@media (max-width: 425px) {
  .third__section__image {
    width: 60%;
    padding: 1rem 0 2rem;
  }
}

.third__section__nav {
  width: 48px;
  height: 48px;
  min-width: 48px;
  min-height: 48px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media (max-width: 950px) {
  .third__section__nav {
    width: 38px;
    height: 38px;
    min-width: 38px;
    min-height: 38px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width:630px) {
  .third__section__nav {
    width: 28px;
    height: 28px;
  }
}


.third__section__nav--next {
  vertical-align: center;
}

.third__section__explore-btn {
  position: absolute;
  background: #ffffffb7;
  backdrop-filter: blur(10px);
  color: #000;
  transform: translateY(-150%) translateX(-50%);

}

@media (max-width: 632px) {

  .third__section__explore-btn {
    display: none;
  }
}

.third__section__features {
  /* position: absolute; */
  /* border: 1px solid red; */
  bottom: 0%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.third__section__feature--middle {
  border-left: 1px solid #cbcbcb;
  border-right: 1px solid #cbcbcb;
}

@media (max-width: 500px) {
  .third__section__features {
    grid-template-columns: 1fr;
  }

  .third__section__feature--middle {
    border-left: none;
    border-right: none;
    padding: 0.8rem 0;
  }
}

.third__section__feature {
  font-size: var(--bodyFontSmall);
  color: #181818;
}

@media (max-width: 1024px) {
  .third__section__feature {
    color: #181818;
    line-height: 1.4;
  }
}

.third__section__options {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  width: 95%;
  max-width: 1000px;
  gap: 2rem;
}

.third__section__options li {
  flex: 1;
}

@media (max-width: 1366px) {
  .third__section__options {
    gap: 1rem;
  }
}

@media (max-width: 850px) {
  .third__section__options {
    gap: 0.5rem;
    width: 100%;
  }
}

.third__section__card {
  background-color: #555555;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: var(--bodyFontSmall);
  width: 100%;
  padding: 1.5rem 0;
}

.third__section__card:hover {
  background-color: #333333;
}

.third__section__options li:nth-child(1) .third__section__card {
  background-color: #000000f2;
}

.third__section__options li:nth-child(2) .third__section__card {
  background-color: #000000d9;
}

.third__section__options li:nth-child(3) .third__section__card {
  background-color: #000000bf;
}

.third__section__options li:nth-child(4) .third__section__card {
  background-color: #000000a6;
}

.third__section__options li:nth-child(5) .third__section__card {
  background-color: #0000008c;
}

.third__section__options li:nth-child(6) .third__section__card {
  background-color: #00000073;
}

.fourth__section {
  position: relative;
  height: 66rem;
  display: flex;
  align-items: center;
  align-items: flex-start;

  overflow: hidden;
}

.fourth__section__bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
  z-index: 1;
}


.fourth__section__container {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 1920px;
  padding: clamp(3.75rem, -2.6786rem + 10.0446vw, 9.375rem) 5vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}


.fourth__section__content {
  color: black;
  max-width: 60%;
}

.fourth__section__heading {
  font-size: var(--headingFont);
  font-weight: unset;
  line-height: 1.2;
}

.fourth__section__heading.sub {
  margin-bottom: 3rem;
  margin-left: 5rem;
}

.fourth__section__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem 3rem;
  max-width: 100%;
  margin-bottom: 3rem;
}

@media (max-width:630px) {
  .fourth__section__grid {
    display: grid;
    grid-template-columns: 1fr !important;
    gap: 1rem !important;
    max-width: 100%;
    margin-bottom: 3rem;
  }

  .fourth__section__heading.sub {
    margin-left: 2rem !important;
    margin-bottom: 2rem !important;
  }

  .fourth__section__container {
    flex-direction: column-reverse;
  }

  .fourth__section__icon {
    width: 40px !important;
    height: 40px !important;
  }

  .fourth__section__content {
    margin-top: calc(-1 * clamp(6.875rem, 2.5272rem + 17.3913vw, 9.375rem));
  }

  .fourth__section__seal-wrapper {
    width: 100% !important;
    height: clamp(6.875rem, 2.5272rem + 17.3913vw, 9.375rem) !important;
    display: flex !important;
    justify-content: flex-end !important;
    align-items: flex-end !important;
  }

  .fourth__section__seal {
    width: auto !important;
    height: 100% !important;

  }

  .fourth__section__bg-image {
    position: absolute;
    width: 100%;
    height: auto;
    object-fit: unset;
    object-position: bottom;
    bottom: 0;
  }
}

@media (max-width: 1400px) {
  .fourth__section__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem 2rem;
  }

  .fourth__section__heading.sub {
    margin-bottom: 3rem;
  }
}

.fourth__section__grid-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.fourth__section__grid-item p {
  color: black;
  font-size: var(--bodyFontSmall);
}

.fourth__section__grid-item.one {
  max-width: 80%;
}

.fourth__section__grid-item.two {
  max-width: 60%;
}

.fourth__section__grid-item.three {
  max-width: 70%;
}

.fourth__section__grid-item.four {
  max-width: 60%;
}

@media (max-width: 1656px) {

  .fourth__section__grid-item.one,
  .fourth__section__grid-item.three,
  .fourth__section__grid-item.two,
  .fourth__section__grid-item.four {
    max-width: 90%;
  }
}

.fourth__section__icon {
  width: 70px;
  height: 70px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: #ffffff66;
  border-radius: 50%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fourth__section__cta {
  backdrop-filter: blur(4px);
}

@media (max-width: 1400px) {
  .fourth__section__icon {
    width: 55px;
    height: 55px;
  }
}

.fourth__section__icon img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.fourth__section__seal-wrapper {
  width: 15%;
  height: auto;
}

.fourth__section__seal {
  width: 90%;
  height: 100%;
  object-fit: contain;
}

.fifth__section {
  background: linear-gradient(to bottom, rgb(240, 236, 236) 50%, #ce9c9c);
  position: relative;
  overflow: hidden;
}

.fifth__section__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 3rem; */
  gap: clamp(3.125rem, 1.087rem + 8.1522vw, 5rem);
  padding: 0 5vw;
  padding-top: clamp(3.75rem, -2.6786rem + 10.0446vw, 9.375rem);
  /* border: 1px solid red; */
}

.fifth__section__heading {
  color: black;
  font-weight: unset;
  font-size: var(--headingFont);
  text-align: center;
}

.fifth__section__description {
  font-size: var(--bodyFont);
  max-width: 40%;
  color: #515151;
  text-align: center;
}

.fifth__section__watermark {
  margin-top: clamp(5rem, 1.4286rem + 5.5804vw, 8.125rem);
  font-size: 15vw;
  filter: blur(0.7px);
  line-height: 1;

  background: linear-gradient(to bottom,
      rgb(228, 130, 130) 30%,
      rgba(212, 66, 66, 0.99));

  -webkit-background-clip: text;
  background-clip: text;
  text-align: center;
  color: transparent;
  white-space: nowrap;
  margin-bottom: -2.3%;
}

.fifth__section__watermark p {
  text-align: center;
}

@media (max-width: 1024px) {
  .fifth__section__watermark {
    margin-top: clamp(3.125rem, 1.9231rem + 4.8077vw, 5rem);
  }
}

.tm {
  font-size: 0.5em;
  /* smaller than parent */
  vertical-align: super;
}

.fifth__section__explore-btn {
  /* margin-bottom: 10rem; */
  background-color: transparent;
  color: black;
}





.footer {
  background-color: black;
  padding: 6rem 5vw 4rem;
}

.footer__container {
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
  gap: 3rem;
  justify-items: center;
}

.footer__brand {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* gap: 3rem; */
}

.footer__logo {
  max-width: 180px;
  height: auto;
  position: static;
}

.footer__description {
  font-size: calc(var(--bodyFontSmall) - 2px);
  color: white;
  line-height: 1.6;
  max-width: 90%;
}

.footer__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer__link {
  text-decoration: none;
  color: white;
  font-size: calc(var(--bodyFontSmall) - 2px);
}

.footer__link:hover {
  color: #ffffff;
}

.swiper-button-next {
  right: 8vw !important;
}

.swiper-button-prev {
  left: 8vw !important;
}

.swiper-button-next svg,
.swiper-button-prev svg {
  display: none;
}

@media (max-width: 1024px) {
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem 2rem;
  }

  .footer__brand {
    grid-column: span 2;
    /* flex-direction: row;  */
    align-items: center;
    gap: 2rem;
  }

  .footer__description {
    max-width: 60%;
    text-align: center;
  }
}


@media (max-width: 630px) {
  .fourth__section {
    height: auto;
    padding-bottom: clamp(13.125rem, -2.0924rem + 60.8696vw, 21.875rem);
  }

  .fourth__section__grid {
    grid-template-columns: 1fr !important;
    gap: 1rem !important;
  }
  .footer__brand{
    align-items: start;
  }
  .footer{
    padding: 4rem 5vw 2rem;
  }
  .footer__logo{
    width: auto;
    height: 40px;
  }
  .footer__description{
    text-align: left;
    max-width: 90%;
    margin-bottom: 2rem;
  }
  .footer__container{
    gap: 12px;
    justify-items: start;
  }
  .footer__list{
    gap: 12px;
  }
  .fifth__section__watermark{
    margin-bottom: -2.7%;
  }
}


@media (max-width: 500px) {
  .fourth__section__heading.sub {
    margin-left: 1rem !important;
    margin-bottom: 1rem !important;
  }

  .fourth__section__grid {
    margin-bottom: 2rem;
  }
}